<%-include('partials/header')-%>
<!-- Home page, talk show things about the website -->

			<div class='jumbotron bg-secondary'>
					<h1 class='display-4 text-light text-center'>
						Welcome to the CRUD blog app
					</h1>
					<p class='lead text-center text-light'>The only honest blog site</p>
					<div class='text-center'>
						<a href='/blogs' class ='btn btn-lg btn-success'>View blogs</a>
					</div>
			</div>

<%-include('partials/footer')-%>